.container  {
    width: 100%;
    min-height: 95vh;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    gap : 2rem 1rem;
}

.body {
    background-color: bisque;
}

.nav {
    background-color: aquamarine;
}